<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>UCAB-Services - Control de Acceso</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="container">
        <div style="text-align: center; margin-bottom: 20px;">
            <h2 style="margin-bottom: 5px;">UCAB - Services</h2>
            <small style="color: #666; font-weight: 500;">Módulo de Autenticación Lógica</small>
        </div>
        
        <div id="alertBox" class="alert"></div>

        <form id="loginForm">
            <div class="form-group">
                <label>Correo Institucional</label>
                <input type="email" id="correo" required placeholder="ejemplo@ucab.edu.ve">
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" id="contrasena" required>
            </div>
            <button type="submit">Ingresar al Sistema</button>
        </form>
        
        <div class="link-alt">
            ¿Eres un nuevo miembro? <a href="registro.html">Regístrate aquí</a>
        </div>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const alertBox = document.getElementById('alertBox');
            
            const payload = {
                correo: document.getElementById('correo').value,
                contrasena: document.getElementById('contrasena').value
            };

            try {
                const response = await fetch('/api/auth/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(payload)
                });
                
                const data = await response.json();
                alertBox.style.display = 'block';
                
                if (response.ok && data.status === "success") {
                    alertBox.className = 'alert alert-success';
                    alertBox.innerText = "🔓 " + data.mensaje + " (Procedimiento Almacenado Ejecutado en BD)";
                } else {
                    alertBox.className = 'alert alert-error';
                    alertBox.innerText = "❌ " + (data.mensaje || "Error de credenciales");
                }
            } catch (err) {
                alertBox.style.display = 'block';
                alertBox.className = 'alert alert-error';
                alertBox.innerText = "Error al conectar con Spring Boot.";
            }
        });
    </script>
</body>
</html>